In [35]:
import pandas as pd

In [36]:
olympicData = pd.read_csv('../static/assets/data/olympics_data.csv')
olympicData.head(10)

,Unnamed: 0,ID,Name,Sex,Age,Height,Weight,Country,NOC,Games,Year,Season,City,Sport,Event,Medal
0,0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,2,602,Abudoureheman,M,22.0,182.0,75.0,China,CHN,2000 Summer,2000,Summer,Sydney,Boxing,Boxing Men's Middleweight,NaN
3,3,1463,Ai Linuer,M,25.0,160.0,62.0,China,CHN,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Men's Lightweight, Greco-Roman",NaN
4,4,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,NaN
5,5,1464,Ai Yanhan,F,14.0,168.0,54.0,China,CHN,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 4 x 200 metres Freestyle Relay,NaN
6,6,3605,An Weijiang,M,22.0,178.0,72.0,China,CHN,2006 Winter,2006,Winter,Torino,Speed Skating,Speed Skating Men's 500 metres,NaN
7,7,3605,An Weijiang,M,22.0,178.0,72.0,China,CHN,2006 Winter,2006,Winter,Torino,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
8,8,3610,An Yulong,M,19.0,173.0,70.0,China,CHN,1998 Winter,1998,Winter,Nagano,Short Track Speed Skating,Short Track Speed Skating Men's 500 metres,Silver
9,9,3610,An Yulong,M,19.0,173.0,70.0,China,CHN,1998 Winter,1998,Winter,Nagano,Short Track Speed Skating,"Short Track Speed Skating Men's 1,000 metres",NaN

In [37]:
# Selecting only required columns
filtered_df = olympicData[['Country','Year','Season','Event','Medal']]

# Dropping NaN values in 'Medal' column as we are inerested in only medal count
filtered_df = filtered_df.dropna()

# Filtering the dataFrame for year >= 1960
filtered_df = filtered_df[filtered_df['Year'] >= 1960]

# Drop duplicate rows for team events.
filtered_df = filtered_df.drop_duplicates(['Country','Year','Season','Event','Medal'])

filtered_df = filtered_df.rename(columns={'Medal': 'Medals', 'Country': 'Nation'}).reset_index(drop = True)

filtered_df.head(10)

,Nation,Year,Season,Event,Medals
0,China,1998,Winter,Short Track Speed Skating Men's 500 metres,Silver
1,China,1998,Winter,"Short Track Speed Skating Men's 5,000 metres R...",Bronze
2,China,2002,Winter,"Short Track Speed Skating Men's 5,000 metres R...",Bronze
3,China,1996,Summer,Softball Women's Softball,Silver
4,China,1984,Summer,Basketball Women's Basketball,Bronze
5,China,2008,Summer,"Fencing Women's Sabre, Team",Silver
6,China,1996,Summer,Gymnastics Women's Uneven Bars,Silver
7,China,1996,Summer,Swimming Women's 4 x 100 metres Medley Relay,Bronze
8,China,2008,Summer,Rhythmic Gymnastics Women's Group,Silver
9,China,2000,Summer,"Shooting Men's Air Rifle, 10 metres",Gold

In [38]:
filtered_df.shape

(13611, 5)

In [39]:
# Selecting required columns
filtered_df = filtered_df[['Year','Season','Nation','Medals']].sort_values(['Year','Nation'], ascending = [True,True]).reset_index(drop = True)

filtered_df.head(10)

   Year  Season     Nation  Medals
0  1960  Summer  Argentina  Silver
1  1960  Summer  Argentina  Bronze
2  1960  Summer  Australia  Bronze
3  1960  Summer  Australia  Silver
4  1960  Summer  Australia  Silver
5  1960  Summer  Australia  Silver
6  1960  Summer  Australia    Gold
7  1960  Summer  Australia    Gold
8  1960  Summer  Australia  Bronze
9  1960  Summer  Australia    Gold

In [40]:
filtered_df.shape

(13611, 4)

In [41]:
# Filter the dataFrame for Gold medals
gold_medals_df = filtered_df[filtered_df['Medals'] == 'Gold']

# Rename 'Medal' column as 'Gold'
gold_medals_df = gold_medals_df.rename(columns={'Medals': 'Gold'})

# Sort the dataframe by Year
gold_medals_df = gold_medals_df.sort_values(['Year'])

# Groupby 'Year' and 'NOC' and find count of Gold medals
gold_medals_df = gold_medals_df.groupby(['Year','Season','Nation'], sort = False).count()['Gold']

gold_medals_df = pd.DataFrame(gold_medals_df)

# Sort the dataframe by 'Year'(ascending) and 'Gold'(descending)
gold_medals_df = gold_medals_df.sort_values(['Year','Gold','Nation'], ascending = [True, False,True])

gold_medals_df.reset_index(inplace=True)

gold_medals_df.head(10)

   Year  Season     Nation  Gold
0  1960  Summer     Russia    43
1  1960  Summer        USA    34
2  1960  Summer      Italy    13
3  1960  Summer    Germany    12
4  1960  Summer  Australia     8
5  1960  Winter     Russia     7
6  1960  Summer     Turkey     7
7  1960  Summer    Hungary     6
8  1960  Winter    Germany     4
9  1960  Summer      Japan     4

In [42]:
# Filter the dataFrame for Silver medals
silver_medals_df = filtered_df[filtered_df['Medals'] == 'Silver']

# Rename 'Medal' column as 'Silver'
silver_medals_df = silver_medals_df.rename(columns={'Medals': 'Silver'})

# Sort the dataframe by Year
silver_medals_df = silver_medals_df.sort_values(['Year'])

# Groupby 'Year' and 'NOC' and find count of Silver medals
silver_medals_df = silver_medals_df.groupby(['Year','Season','Nation'], sort = False).count()['Silver']

silver_medals_df = pd.DataFrame(silver_medals_df)

# Sort the dataframe by 'Year'(ascending) and 'Silver'(descending)
silver_medals_df = silver_medals_df.sort_values(['Year','Silver','Nation'], ascending = [True, False,True])

silver_medals_df.reset_index(inplace=True)

silver_medals_df.head(10)

   Year  Season     Nation  Silver
0  1960  Summer     Russia      29
1  1960  Summer        USA      21
2  1960  Summer    Germany      19
3  1960  Summer      Italy      10
4  1960  Summer  Australia       8
5  1960  Summer    Hungary       8
6  1960  Summer      Japan       7
7  1960  Summer     Poland       6
8  1960  Summer         UK       6
9  1960  Winter     Russia       5

In [43]:
# Filter the dataFrame for Bronze medals
bronze_medals_df = filtered_df[filtered_df['Medals'] == 'Bronze']

# Rename 'Medal' column as 'Bronze'
bronze_medals_df = bronze_medals_df.rename(columns={'Medals': 'Bronze'})

# Sort the dataframe by Year
bronze_medals_df = bronze_medals_df.sort_values(['Year'])

# Groupby 'Year' and 'NOC' and find count of Bronze medals
bronze_medals_df = bronze_medals_df.groupby(['Year','Season','Nation'], sort = False).count()['Bronze']

bronze_medals_df = pd.DataFrame(bronze_medals_df)

# Sort the dataframe by 'Year'(ascending) and 'Silver'(descending)
bronze_medals_df = bronze_medals_df.sort_values(['Year','Bronze','Nation'], ascending = [True, False,True])

bronze_medals_df.reset_index(inplace=True)

bronze_medals_df.head(10)

   Year  Season     Nation  Bronze
0  1960  Summer     Russia      31
1  1960  Summer        USA      16
2  1960  Summer      Italy      13
3  1960  Summer         UK      12
4  1960  Summer    Germany      11
5  1960  Summer     Poland      11
6  1960  Winter     Russia       9
7  1960  Summer    Hungary       7
8  1960  Summer      Japan       7
9  1960  Summer  Australia       6

In [44]:
# Merge Gold and Silver

gold_silver_df = gold_medals_df.merge(silver_medals_df, how='outer').fillna(0)

gold_silver_df.head(10)

   Year  Season     Nation  Gold  Silver
0  1960  Summer     Russia  43.0    29.0
1  1960  Summer        USA  34.0    21.0
2  1960  Summer      Italy  13.0    10.0
3  1960  Summer    Germany  12.0    19.0
4  1960  Summer  Australia   8.0     8.0
5  1960  Winter     Russia   7.0     5.0
6  1960  Summer     Turkey   7.0     2.0
7  1960  Summer    Hungary   6.0     8.0
8  1960  Winter    Germany   4.0     3.0
9  1960  Summer      Japan   4.0     7.0

In [45]:
# Merge Bronze to Gold and Silver

all_medals_df = gold_silver_df.merge(bronze_medals_df, how='outer').fillna(0)

all_medals_df.head(10)

   Year  Season     Nation  Gold  Silver  Bronze
0  1960  Summer     Russia  43.0    29.0    31.0
1  1960  Summer        USA  34.0    21.0    16.0
2  1960  Summer      Italy  13.0    10.0    13.0
3  1960  Summer    Germany  12.0    19.0    11.0
4  1960  Summer  Australia   8.0     8.0     6.0
5  1960  Winter     Russia   7.0     5.0     9.0
6  1960  Summer     Turkey   7.0     2.0     0.0
7  1960  Summer    Hungary   6.0     8.0     7.0
8  1960  Winter    Germany   4.0     3.0     1.0
9  1960  Summer      Japan   4.0     7.0     7.0

In [46]:
all_medals_df['Medals'] = all_medals_df['Gold'] + all_medals_df['Silver'] + all_medals_df['Bronze']

all_medals_df = all_medals_df.sort_values(['Year','Medals','Nation'], ascending = [True,False,True])

all_medals_df = all_medals_df.reset_index(drop=True)

all_medals_df.head(10)

   Year  Season     Nation  Gold  Silver  Bronze  Medals
0  1960  Summer     Russia  43.0    29.0    31.0   103.0
1  1960  Summer        USA  34.0    21.0    16.0    71.0
2  1960  Summer    Germany  12.0    19.0    11.0    42.0
3  1960  Summer      Italy  13.0    10.0    13.0    36.0
4  1960  Summer  Australia   8.0     8.0     6.0    22.0
5  1960  Summer    Hungary   6.0     8.0     7.0    21.0
6  1960  Summer     Poland   4.0     6.0    11.0    21.0
7  1960  Winter     Russia   7.0     5.0     9.0    21.0
8  1960  Summer         UK   2.0     6.0    12.0    20.0
9  1960  Summer      Japan   4.0     7.0     7.0    18.0

In [47]:
all_medals_df['Medals'] = pd.to_numeric(all_medals_df['Medals'],downcast='integer')

all_medals_df['Gold'] = pd.to_numeric(all_medals_df['Gold'],downcast='integer')

all_medals_df['Silver'] = pd.to_numeric(all_medals_df['Silver'],downcast='integer')

all_medals_df['Bronze'] = pd.to_numeric(all_medals_df['Bronze'],downcast='integer')

all_medals_df

      Year  Season                Nation  Gold  Silver  Bronze  Medals
0     1960  Summer                Russia    43      29      31     103
1     1960  Summer                   USA    34      21      16      71
2     1960  Summer               Germany    12      19      11      42
3     1960  Summer                 Italy    13      10      13      36
4     1960  Summer             Australia     8       8       6      22
...    ...     ...                   ...   ...     ...     ...     ...
1182  2016  Summer           Puerto Rico     1       0       0       1
1183  2016  Summer                 Qatar     0       1       0       1
1184  2016  Summer            Tajikistan     1       0       0       1
1185  2016  Summer              Trinidad     0       0       1       1
1186  2016  Summer  United Arab Emirates     0       0       1       1

[1187 rows x 7 columns]

In [50]:
# Saving it as csv file

all_medals_df.to_csv('../static/assets/output/GSB-Medals-1960-2016.csv',index = False)

In [53]:
import csv
import json

with open('../static/assets/output/GSB_MedalsByYear.csv') as f:
    reader = csv.DictReader(f)
    rows = list(reader)

with open('../static/js/GSB-Medals-1960-2016.json', 'w') as f:
    json.dump(rows, f)